---
import Headline from "../blog/Headline.astro";
import { Icon } from "astro-icon/components";
const Team = Astro.props;
---


<section class="relative md:-mt-[76px] not-prose">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-12 md:py-20 flex flex-col items-center justify-center">
      <Headline
          title='Meet our Team'
          subtitle='Our team is made up of talented and passionate individuals who are dedicated to helping you achieve your goals. We are committed to providing you with the best possible service and support. We are here to help you every step of the way.'
          tagline='Our Team'
          classes={{
            container: 'text-center md:text-left rtl:md:text-right mb-4 md:mb-8',
            title: 'mb-4 text-3xl lg:text-4xl font-bold font-heading',
            subtitle: 'mb-8 text-xl text-muted dark:text-slate-400',
            // ...((classes?.headline as {}) ?? {}),
          }}
      />
      <div class="grid grid-cols-2 md:grid-cols-5 items-center justify-center w-full max-w-5xl p-4 gap-3 relative">
        {Team?.teamMembers?.map(member => (
          <div class="col-span-1  flex flex-col justify-center rounded-md items-center hover:shadow-lg p-2">
            <img class="object-cover object-center w-24 h-24 rounded-full"  src={member.imageUrl} alt={member.name} />
            <h3 class="text-sm font-medium tracking-tighter">{member.name}</h3>
            <p class="text-xs">{member.description}</p>
            <a class="cursor-pointer" href={member.url} target="__blank">
              <Icon
                name="tabler:brand-linkedin"
                class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
              />
            </a>
          </div>
        ))}
        
      </div>
    </div>
  </div>
</section>
